body {
  font: 16px/1.5em "Fira Code";
}
.code {
  font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  width: 30em;
  margin: 5em auto;
  white-space: pre-wrap;
  word-break: break-all;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.h1,
.h2,
.h3 {
  font-weight: 700;
  font-family: "Fira Code";
}
.variable {
  font-family: "Fira Code VF";
  font-variation-settings: "wght" 400;
}
i {
  font-style: normal;
  color: #c33;
}
b {
  font-weight: inherit;
  color: #c33;
}
.minCard{
 padding-top: 15%;
}
.loginCard{
  margin: auto;
  width: 30% !important;
  padding: 10px;
  border-radius: 5px;
}
.loginCard >input {
  margin-bottom: 10px;

}
.loginCard > lable{
  font-weight: 600;
}
.headerLogin{
  text-align: center;
  font-weight: bold;
}
